{% extends "base.html" %}
{% block title %}Delete file{% endblock %}
{% block menu %}
    <li><a href="{% url 'webapp:file_detail' obj.pk %}">View</a></li>
{% endblock %}
{% block content %}
    <h1>Вы уверены что хотите удалить файл "{{ obj }}"?</h1>
    <form method="POST" action="{% url "webapp:file_delete" obj.pk %}" class="text-center">
        {% csrf_token %}
        <p><input type="submit" value="Confirm"></p>
        <p><a href="{% url "webapp:file_detail" obj.pk %}">Cancel</a></p>
    </form>
{% endblock %}