{% extends 'base.html' %}
{% block title %}File{% endblock %}
{% block menu %}
{#    {% if request.user.is_authenticated %}#}
{#        <li><a href="{% url 'webapp:photo_update' photo.pk %}">Edit</a></li>#}
{#        <li><a href="{% url 'webapp:photo_delete' photo.pk %}">Delete</a></li>#}
{#    {% endif %}#}
    {% if perms.webapp.change_file or file.author == request.user %}
{#        <p>{{ perms.webapp.change_file }}</p>#}
{#        <p>{{ file.author }}</p>#}
{#        <p>{{ request.user }}</p>#}
        <li class="nav-item active"><a class="nav-link" href="{% url 'webapp:file_update' file.pk %}">Edit</a></li>
    {% endif %}
    {% if perms.webapp.delete_file or file.author == request.user %}
            <li class="nav-item active"><a class="nav-link" href="{% url 'webapp:file_delete' file.pk %}">Delete</a></li>
    {% endif %}
{% endblock %}
{% block content %}
   <div class="container">
       <p>{{ file.name }}</p>
        <a href="{{ file.file.url }}" class="btn btn-primary">Скачать</a>
        <div>Автор: {% if file.author %}{{ file.author }}{% else %}Аноним{% endif %}</div>
        <div>Создано: {{ file.creation_date }}</div>
        <div>Создано: {{ file.type }}</div>
        <hr/>
{#       <button id="{{photo.id}}" onclick="like(1)">Like</button>#}
   </div>
    {% if file.type == 'private' %}
        <h2>Пользователи имеющие доступ</h2>
        {% for user in file.access_users.all %}
                <p><a href="{% url 'accounts:user_detail' user.pk %}">{{ user }}</a></p>
        {% empty %}
            <p>No users yet.</p>
        {% endfor %}
        <form>
          <div class="form-group">
            <label for="user_add">Добавить пользователя</label>
            <textarea class="form-control" id="user_add"></textarea>
          </div>
        </form>
        <button id="create" type="button" class="btn btn-primary" onclick="addUserLoadIndex($('#user_add').val(), `{{ file.id }}`)" >Добавить</button>
    {% endif %}

{#    <div class="comment-list">#}
{#        <h2>Comments</h2>#}
{#        {% for comment in comments %}#}
{#            <div class="comment">#}
{#                <p>{{ comment.author }} commented at {{ comment.created_at|date:'d.m.Y H:i:s' }}</p>#}
{#                <div class="pre">{{ comment.text }}</div>#}
{#            <button id="{{ comment.id }}" onclick="deleteTasksLoadIndex(this.id)" >Delete</button>#}
{#            </div>#}
{#        {% empty %}#}
{#            <p>No comments yet.</p>#}
{#        {% endfor %}#}
{##}
{#    </div>#}
{#    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">#}
{#  Создать комментарий#}
{#</button>#}
{##}
{#<!-- Modal -->#}
{#<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#  <div class="modal-dialog" role="document">#}
{#    <div class="modal-content">#}
{#      <div class="modal-header">#}
{#        <h5 class="modal-title" id="exampleModalLabel">Создание комментария</h5>#}
{#        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#          <span aria-hidden="true">&times;</span>#}
{#        </button>#}
{#      </div>#}
{#      <div class="modal-body">#}
{#                <form>#}
{#                  <div class="form-group">#}
{#                    <label for="text">Текст</label>#}
{#                    <textarea class="form-control" id="text" rows="3"></textarea>#}
{#                  </div>#}
{#                </form>#}
{#      </div>#}
{#      <div class="modal-footer">#}
{#        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#        <button id="create" type="button" class="btn btn-primary" onclick="createTasksLoadIndex($('#text').val(), `{{ user }}`, `{{ photo.id }}`)" >Сохранить</button>#}
{#      </div>#}
{#        `{{ user }}`#}
{#        $('#text').val()#}
{##}
{#    </div>#}
{#  </div>#}
{#</div>#}
{% endblock %}